{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Insta Downloader</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'insta.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        
    </style>
</head>
<body style="background-color:rgb(46, 45, 45);">
    <div class="back">
        <div class="b">

        </div>
        <div class="g">

        </div>
            <div class="box">
                <h3>Insta Pic Downloader</h3>
                <form method="POST">
                    {% csrf_token%}
                    <input class="yop" type="submit" name="last" value="Start">
                </form>
                    
    </div>
</div>
</body>
</html>