{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Insta Downloader</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="{% static 'insta.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .h3
        {
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body style="background-color: rgb(255, 180, 242);">
            <div class="box" style="text-align: center;">
                <h3 style="font-family: 'Satisfy', cursive;font-size: 39px;text-align: center;">Insta Pic Downloader</h3>
                
                    
                    {% if images %}
	                    {% for image in images %}
                            <img src="{{ MEDIA_URL }}media/{{ image }}" style="height: 70px; width: 61px;"><br>
                            <a href="{{ MEDIA_URL }}media/{{ image }}" download>
                                <button class="btn" style="background-color: DodgerBlue;
                                border: none;
                                color: white;
                                padding: 12px 30px;
                                cursor: pointer;
                                font-size: 20px;
                                border-radius: 1px;">
                                    <i class="fa fa-download"></i> Download
                                </button>
                            </a>
	                    {% endfor %}
                    {% else %}
	                    <p>No image available.</p>
                     {% endif %}<br>

            </div>
            
</body>
</html>